{% comment %}
  Renders a header drawer menu for mobile and desktop.

  Usage:
  {% render 'header-drawer', section: section %}
{% endcomment %}

<header-drawer data-breakpoint="{% if section.settings.menu_type_desktop == 'drawer' %}desktop{% else %}tablet{% endif %}">
  <details id="Details-menu-drawer-container" class="menu-drawer-container">
    <summary
      class="header__icon header__icon--menu header__icon--summary link focus-inset"
      aria-label="{{ 'sections.header.menu' | t }}"
    >
       <span>
        {% render 'icon-hamburger' %}
        {% render 'icon-close' %}
      </span>
    </summary>
    <div id="menu-drawer" class="gradient menu-drawer motion-reduce color-{{ section.settings.menu_color_scheme }}">
      <div class="menu-drawer__top-container">
        <a href="{{ routes.root_url }}" class="header__heading-link link link--text focus-inset">
          {%- if settings.logo != blank -%}
            <div class="header__heading-logo-wrapper">
              {%- assign logo_alt = settings.logo.alt | default: shop.name | escape -%}
              {%- assign logo_height = settings.logo_width | divided_by: settings.logo.aspect_ratio -%}
              {% capture sizes %}(max-width: {{ settings.logo_width | times: 2 }}px) 50vw, {{ settings.logo_width }}px{% endcapture %}
              {% capture widths %}{{ settings.logo_width }}, {{ settings.logo_width | times: 1.5 | round }}, {{ settings.logo_width | times: 2 }}{% endcapture %}
              {{ settings.logo | image_url: width: 600 | image_tag:
                class: 'header__heading-logo motion-reduce',
                widths: widths,
                height: logo_height,
                width: settings.logo_width,
                alt: logo_alt,
                sizes: sizes,
                preload: true
              }}
            </div>
          {%- else -%}
            <span class="h2">{{ shop.name }}</span>
          {%- endif -%}
        </a>
        <span class="hamburger-close-btn">
         {% render 'icon-close' %}
         
        </span>
      </div>
      <div class="menu-drawer__inner-container">
        <div class="menu-drawer__navigation-container">
          <nav class="menu-drawer__navigation">
            <ul class="menu-drawer__menu has-submenu list-menu level-1" role="list">
              {%- for link in section.settings.menu.links -%}
                <li>
                  {%- if link.links != blank -%}
                    <details 
                      class="menu-drawer__details"
                      id="Details-menu-drawer-menu-item-{{ forloop.index }}"
                    >
                      <summary
                        id="HeaderDrawer-{{ link.handle }}"
                        class="menu-drawer__menu-item list-menu__item link link--text focus-inset{% if link.child_active %} menu-drawer__menu-item--active{% endif %}"
                      >
                        {{ link.title | escape }}
                      <svg aria-hidden="true" focusable="false" class="icon icon-caret" viewBox="0 0 10 6">
                     <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor">
                    </path></svg>
                      </summary>
                      <div
                        id="link-{{ link.handle | escape }}"
                        class="menu-drawer__submenu has-submenu gradient motion-reduce"
                        tabindex="-1"
                      >
                        <div class="menu-drawer__inner-submenu">
                          <ul class="menu-drawer__menu list-menu level-2" role="list" tabindex="-1">
                            {%- for childlink in link.links -%}
                              <li>
                                {%- if childlink.links == blank -%}
                                  <a
                                    id="HeaderDrawer-{{ link.handle }}-{{ childlink.handle }}"
                                    href="{{ childlink.url }}"
                                    class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if childlink.current %} menu-drawer__menu-item--active{% endif %}"
                                    {% if childlink.current %}
                                      aria-current="page"
                                    {% endif %}
                                  >
                                    {{ childlink.title | escape }}
                                  </a>
                                {%- else -%}
                                  <a
                                    href="{{ childlink.url }}"
                                    id="HeaderDrawer-{{ link.handle }}-{{ childlink.handle }}"
                                    class="menu-drawer__menu-item link link--text list-menu__item focus-inset"
                                  >
                                    {{ childlink.title | escape }}
                                  </a>
                                  <div
                                    id="childlink-{{ childlink.handle | escape }}"
                                    class="menu-drawer__submenu has-submenu gradient motion-reduce"
                                  >
                                    <ul
                                      class="menu-drawer__menu list-menu level-3"
                                      role="list"
                                      tabindex="-1"
                                    >
                                      {%- for grandchildlink in childlink.links -%}
                                        <li>
                                          <a
                                            id="HeaderDrawer-{{ link.handle }}-{{ childlink.handle }}-{{ grandchildlink.handle }}"
                                            href="{{ grandchildlink.url }}"
                                            class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if grandchildlink.current %} menu-drawer__menu-item--active{% endif %}"
                                            {% if grandchildlink.current %}
                                              aria-current="page"
                                            {% endif %}
                                          >
                                            {{ grandchildlink.title | escape }}
                                          </a>
                                        </li>
                                      {%- endfor -%}
                                    </ul>
                                  </div>
                                {%- endif -%}
                              </li>
                            {%- endfor -%}
                          </ul>
                        </div>
                      </div>
                    </details>
                  {%- else -%}
                    <a
                      id="HeaderDrawer-{{ link.handle }}"
                      href="{{ link.url }}"
                      class="menu-drawer__menu-item list-menu__item link link--text focus-inset{% if link.current %} menu-drawer__menu-item--active{% endif %}"
                      {% if link.current %}
                        aria-current="page"
                      {% endif %}
                    >
                      {{ link.title | escape }}
                    </a>
                  {%- endif -%}
                </li>
              {%- endfor -%}
              {% for block in section.blocks %}
                {% case block.type %}
                  {% when 'nav-link' %}
                    <li>
                      <a href="{{ block.settings.nav_url }}" class="header__menu-item list-menu__item link link--text focus-inset new-link menu-drawer__menu-item"> {{ block.settings.nav_text }}</a>
                    </li>
                {% endcase %}
              {% endfor %}
            </ul>
            <div class="menu-drawer__menu menu-image">
              <a href="{{ section.settings.menu_image_url }}">
                {% if section.settings.menu_image != blank %}
                   {{ section.settings.menu_image | image_url: width: '1800' | image_tag }}
                {% endif %}
                {% if section.settings.menu_image-text != blank and section.settings.menu_image!= blank %}
                  <h2 class="menu-image-text">{{ section.settings.menu_image-text }}</h2>
                {% endif %}
              </a>
            </div>
            {% for block in section.blocks %}
              {% if block.type != "nav-link" and block.type != "app" %}
                <ul class="menu-drawer__menu list-menu" role="list">
                  {%- for link in block.settings.menu.links -%}
                    <li>
                      <a
                        id="HeaderDrawer-{{ link.handle }}"
                        href="{{ link.url }}"
                        class="menu-drawer__menu-item list-menu__item link link--text focus-inset{% if link.current %} menu-drawer__menu-item--active{% endif %}"
                        {% if link.current %}
                          aria-current="page"
                        {% endif %}
                      >
                        {{ link.title | escape }}
                      </a>
                    </li>
                  {%- endfor -%}
                </ul>
              {% endif %}
            {% endfor %}
          </nav>
        </div>
      </div>
    </div>
  </details>
</header-drawer>

<script defer>
  const drawerMenuCloseBtn = document.querySelector('.hamburger-close-btn');
  drawerMenuCloseBtn.addEventListener('click', (event)=> {
    event.preventDefault();
    const drawerContainer = document.getElementById('Details-menu-drawer-container');
    const summaryContainer = document.querySelector('summary.header__icon');
    summaryContainer.setAttribute('aria-expanded', 'false');
    MenuDrawer.prototype.mainDetailsToggle = drawerContainer;
    MenuDrawer.prototype.closeMenuDrawer(event);
    const announcementBar = document.querySelector('.main_announcement_bar').parentNode;
    announcementBar.classList.remove('hidden');
  })
</script>