 {{ 'product-card.css' | asset_url | stylesheet_tag }}
<script src="{{ 'product-card.js' | asset_url }}" defer="defer"></script>

{% liquid
  assign current_variant = product.selected_or_first_available_variant
  assign image = current_product_variant.featured_image | default: product.featured_image
  
%}

<product-cart-element
  class="product-card2 "
  data-section-id="{{ sectionId }}"
  data-product-url="{{ product.url }}"
>
  <div class="productMain_container">
    <div class="product-image-container">
      <a href="{{ product.url }}" class="product-image-snippet">
        {% render 'picture', class: ' first-image', mobileSrc: image, desktopSrc: image %}
      </a>
      
    </div>

    <div class="product-card__info">
      <p class="product-vendor">{{ product.vendor }}</p>
      <a href="{{ product.url }}" class="product-title">
        {{ product.title }}
      </a>


      {% assign discount_percentage = 0 %}
{% if current_variant.compare_at_price > current_variant.price %}
  {% assign discount_amount = current_variant.compare_at_price | minus: current_variant.price %}
  {% assign discount_percentage = discount_amount | times: 100.0 | divided_by: current_variant.compare_at_price | round %}
{% endif %}

<div class="price-container">
  <p class="product-price{% if discount_percentage > 50 %} red-price{% endif %}">{{ current_variant.price | money }}</p>
  <s>{{ current_variant.compare_at_price | money }}</s>
  <div>
     {% if current_variant.compare_at_price > current_variant.price %}
          {% assign save_amount = product.compare_at_price | minus: product.price %}
          {% assign discount_percent = save_amount | times: 100.0 | divided_by: product.compare_at_price | round: 0 %}
          <span class="discount-badge">{{ discount_percent }}% off</span>
        {% endif %}
  </div>
</div>

      <div class="cart-and-whishlist">
      <div class="my-btn custom-buy-btn {% unless current_variant.available %}disabled-btn{% endunless %}">
        <span class="add-text"> Add to cart</span>
    </div>
    <div class="loading__spinner my-spinner hidden">
     <svg aria-hidden="true" focusable="false" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
       <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
      </svg>
     </div>
    
    </div>
    </div>
    <div class="whishlist" style=“text-align: end;“>{% render 'hulkapps-wishlist-collection-btn', productId: product.id, variantId: product.selected_or_first_available_variant.id %}</div>

  </div>

  <script>
    {{ product.variants | json }}
  </script>
</product-cart-element>
